extends layout

block content
  if errors
        for each in errors
          p.error #{each.msg}
  h1= title
  form(action='/auth/register',method='post')
    div
      label(for='username') username
      input(id='username', name='username', type='text',value='')
    div
      label(for='password') password
      input(id='password', name='password', type='password',value='')
    div
      label(for='password2') confirm password
      input(id='password2', name='confirmPassword', type='password', value='')
    div.actions
            input(type="submit", value="login")
