
body {
  background-color: black;
  background-color: black;
  color: white;
  height: 100vh;
  text-align:center;
  font-size: 1rem !important;
  letter-spacing: 0.5px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
